openapi: 3.0.3
info:
  contact:
    email: cloud@salad.com
    name: SaladCloud Support
    url: https://salad.com
  description: "The SaladCloud REST API. Please refer to the [SaladCloud API Documentation](https://docs.salad.com/api-reference)\
    \ for more details."
  license:
    name: MIT
  termsOfService: https://salad.com/terms
  title: SaladCloud API
  version: 0.9.0-alpha.5
servers:
- url: https://api.salad.com/api/public
security:
- ApiKeyAuth: []
tags:
- description: Container Groups
  name: container_groups
- description: Inference Endpoints
  name: inference_endpoints
- description: Auxiliary organization data and info
  name: organization_data
- description: Job Queues
  name: queues
- description: quotas
  name: quotas
- description: Workload Errors
  name: workload_errors
- description: Webhook Secret Key
  name: webhook_secret_key
paths:
  /:
    get:
      description: Tests the request's API credentials
      operationId: test_credentials
      responses:
        "204":
          description: No Content
        "401":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unauthorized
                    status: 401
                    detail: Unauthorized
                    instance: dc907f60
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unauthorized
      summary: Test Credentials
  /organizations/{organization_name}/projects/{project_name}/containers:
    description: Operations for container groups
    get:
      description: Gets the list of container groups
      operationId: list_container_groups
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    items:
                    - id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                      name: sim1
                      display_name: Simulation 1
                      container:
                        image: acme-corp/anvil-drop-simulator:v65535
                        resources:
                          cpu: 1
                          memory: 2048
                        command: []
                        size: 1024
                        hash: 0x1234567890abcdef
                      autostart_policy: true
                      restart_policy: always
                      replicas: 1
                      current_state:
                        status: stopped
                        start_time: 2020-07-04T19:00:00Z
                        finish_time: 2020-07-04T19:00:00Z
                        instance_status_counts:
                          allocating_count: 1
                          creating_count: 1
                          running_count: 1
                          stopping_count: 1
                      create_time: 2020-07-04T19:00:00Z
                      update_time: 2020-07-04T19:00:00Z
                      pending_change: false
                      version: 1
                    - id: b697f678-b987-4992-bbbf-d6dda171b34a
                      name: sim2
                      display_name: Simulation 2
                      container:
                        image: acme-corp/anvil-drop-simulator:v65536
                        resources:
                          cpu: 1
                          memory: 2048
                        command: []
                        size: 1024
                        hash: 0x1234567890abcdef
                      autostart_policy: true
                      restart_policy: always
                      replicas: 1
                      current_state:
                        status: stopped
                        start_time: 2020-07-04T19:00:00Z
                        finish_time: 2020-07-04T19:00:00Z
                        instance_status_counts:
                          allocating_count: 1
                          creating_count: 1
                          running_count: 1
                          stopping_count: 1
                      create_time: 2020-07-04T19:00:00Z
                      update_time: 2020-07-04T19:00:00Z
                      pending_change: false
                      version: 2
              schema:
                $ref: '#/components/schemas/ContainerGroupList'
          description: OK
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: List Container Groups
      tags:
      - container_groups
    post:
      description: Creates a new container group
      operationId: create_container_group
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateContainerGroup'
      responses:
        "201":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                    name: sim1
                    display_name: Simulation 1
                    container:
                      image: acme-corp/anvil-drop-simulator:v65535
                      resources:
                        cpu: 1
                        memory: 2048
                      command: []
                      size: 1024
                      hash: 0x1234567890abcdef
                    autostart_policy: true
                    restart_policy: always
                    replicas: 1
                    current_state:
                      status: stopped
                      start_time: 2020-07-04T19:00:00Z
                      finish_time: 2020-07-04T19:00:00Z
                      instance_status_counts:
                        allocating_count: 1
                        creating_count: 1
                        running_count: 1
                        stopping_count: 1
                    create_time: 2020-07-04T19:00:00Z
                    update_time: 2020-07-04T19:00:00Z
                    pending_change: false
                    version: 1
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: Created
          headers:
            Location:
              explode: false
              schema:
                example: /organizations/acme-corp/projects/anvil-drop-simulator/containers/sim1
                type: string
              style: simple
          links:
            get_container_group_by_name:
              operationId: get_container_group
              parameters:
                container_group_name: $response.body#/name
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Create Container Group
      tags:
      - container_groups
    summary: Container Groups
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}:
    delete:
      description: Deletes a container group
      operationId: delete_container_group
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Delete Container Group
      tags:
      - container_groups
    description: Operations for a container group
    get:
      description: Gets a container group
      operationId: get_container_group
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                    name: sim1
                    display_name: Simulation 1
                    container:
                      image: acme-corp/anvil-drop-simulator:v65535
                      resources:
                        cpu: 1
                        memory: 2048
                      command: []
                      size: 1024
                      hash: 0x1234567890abcdef
                    autostart_policy: true
                    restart_policy: always
                    replicas: 1
                    current_state:
                      status: stopped
                      start_time: 2020-07-04T19:00:00Z
                      finish_time: 2020-07-04T19:00:00Z
                      instance_status_counts:
                        allocating_count: 1
                        creating_count: 1
                        running_count: 1
                        stopping_count: 1
                    create_time: 2020-07-04T19:00:00Z
                    update_time: 2020-07-04T19:00:00Z
                    pending_change: false
                    version: 1
                    queue_autoscaler:
                      min_replicas: 1
                      max_replicas: 10
                      desired_queue_length: 100
                      polling_period: 15
                      max_upscale_per_minute: 5
                      max_downscale_per_minute: 2
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Get Container Group
      tags:
      - container_groups
    patch:
      description: Updates a container group
      operationId: update_container_group
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateContainerGroup'
      responses:
        "200":
          content:
            application/merge-patch+json:
              examples:
                jsonExample:
                  value:
                    id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                    name: sim1
                    display_name: Simulation 1
                    container:
                      image: acme-corp/anvil-drop-simulator:v65535
                      resources:
                        cpu: 1
                        memory: 2048
                      command: []
                      size: 1024
                      hash: 0x1234567890abcdef
                    autostart_policy: true
                    restart_policy: always
                    replicas: 1
                    current_state:
                      status: stopped
                      start_time: 2020-07-04T19:00:00Z
                      finish_time: 2020-07-04T19:00:00Z
                      instance_status_counts:
                        allocating_count: 1
                        creating_count: 1
                        running_count: 1
                        stopping_count: 1
                    create_time: 2020-07-04T19:00:00Z
                    update_time: 2020-07-04T19:00:00Z
                    pending_change: false
                    version: 1
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: OK
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Update Container Group
      tags:
      - container_groups
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/errors:
    description: Operations for workload errors
    get:
      description: Gets the workload errors
      operationId: get_workload_errors
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    items:
                    - detail: StartFailure:0
                      failed_at: 2023-09-15T21:38:45.1220217Z
                      machine_id: 2155a188-7304-8351-b98d-af6c79e5978f
                      instance_id: 2155a188-7304-8351-b98d-af6c79e5978f
                      allocated_at: 2023-09-15T21:25:39.4110673Z
                      started_at: null
                      version: 1
                    - detail: RunFailure:-1
                      failed_at: 2023-09-14T11:30:05.2271645Z
                      machine_id: dc96663a-fe19-345a-8363-174616159cb6
                      instance_id: dc96663a-fe19-345a-8363-174616159cb6
                      allocated_at: 2023-09-10T15:44:20.8139996Z
                      started_at: 2023-09-13T10:44:18.9824223Z
                      version: 1
              schema:
                $ref: '#/components/schemas/WorkloadErrorList'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Get Workload Errors
      tags:
      - workload_errors
    summary: Workload Errors
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/start:
    description: Operations for a container group
    post:
      description: Starts a container group
      operationId: start_container_group
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Start Container Group
      tags:
      - container_groups
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/stop:
    description: Operations for a container group
    post:
      description: Stops a container group
      operationId: stop_container_group
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Stop Container Group
      tags:
      - container_groups
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances:
    description: Operations for container group instances
    get:
      description: Gets the list of container group instances
      operationId: list_container_group_instances
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                instances:
                - machine_id: 5ebfa363-6e0b-4db1-b9be-70ed4995d0b1
                  instance_id: 5ebfa363-6e0b-4db1-b9be-70ed4995d0b1
                  state: running
                  update_time: 2023-05-04T05:41:05Z
                  version: 1
                - machine_id: a6c2e6d5-6c5a-4b3b-a4d4-4b13c2b634ad
                  instance_id: a6c2e6d5-6c5a-4b3b-a4d4-4b13c2b634ad
                  state: creating
                  update_time: 2023-05-04T05:38:12Z
                  version: 1
                - machine_id: a6c2e6d5-6c5a-4b3b-a4d4-4b13c2b634ad
                  instance_id: a6c2e6d5-6c5a-4b3b-a4d4-4b13c2b634ad
                  state: stopping
                  update_time: 2023-05-04T05:38:12Z
                  version: 1
              schema:
                $ref: '#/components/schemas/ContainerGroupInstances'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: List Container Group Instances
      tags:
      - container_groups
    summary: Container Group Instances
  ? /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances/{container_group_instance_id}
  : description: Operations for a container group instance
    get:
      description: Gets a container group instance
      operationId: get_container_group_instance
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique instance identifier
        explode: false
        in: path
        name: container_group_instance_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              example:
                machine_id: 5ebfa363-6e0b-4db1-b9be-70ed4995d0b1
                instance_id: 5ebfa363-6e0b-4db1-b9be-70ed4995d0b1
                state: running
                update_time: 2023-05-04T05:41:05Z
                version: 1
              schema:
                $ref: '#/components/schemas/ContainerGroupInstance'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Get Container Group Instance
      tags:
      - container_groups
    summary: Container Group Instance
  ? /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances/{container_group_instance_id}/reallocate
  : description: Operations for a container group instance
    post:
      description: Reallocates a container group instance to run on a different Salad
        Node
      operationId: reallocate_container_group_instance
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique instance identifier
        explode: false
        in: path
        name: container_group_instance_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Reallocate Container Group Instance
      tags:
      - container_groups
    summary: Container Group Instance
  ? /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances/{container_group_instance_id}/recreate
  : description: Operations for a container group instance
    post:
      description: "Stops a container, destroys it, and starts a new one without requiring\
        \ the image to be downloaded again on a new Salad Node"
      operationId: recreate_container_group_instance
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique instance identifier
        explode: false
        in: path
        name: container_group_instance_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Recreate Container Group Instance
      tags:
      - container_groups
    summary: Container Group Instance
  ? /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances/{container_group_instance_id}/restart
  : description: Operations for a container group instance
    post:
      description: Stops a container and restarts it on the same Salad Node
      operationId: restart_container_group_instance
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique instance identifier
        explode: false
        in: path
        name: container_group_instance_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Restart container Group Instance
      tags:
      - container_groups
    summary: Container Group Instance
  /organizations/{organization_name}/projects/{project_name}/queues:
    description: Operations for queues
    get:
      description: Gets the list of queues in the given project.
      operationId: list_queues
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                items:
                - id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                  name: fifo-queue
                  display_name: FIFO Queue
                  description: This queue is used to distribute jobs to workers running
                    on SaladCloud with a FIFO workflow.
                  container_groups: []
                  create_time: 2023-07-04T19:00:00Z
                  update_time: 2023-07-04T19:00:00Z
              schema:
                $ref: '#/components/schemas/QueueList'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: List Queues
      tags:
      - queues
    post:
      description: Creates a new queue in the given project.
      operationId: create_queue
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateQueue'
      responses:
        "201":
          content:
            application/json:
              example:
                id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                name: fifo-queue
                display_name: FIFO Queue
                description: This queue is used to distribute jobs to workers running
                  on SaladCloud with a FIFO workflow.
                container_groups: []
                create_time: 2023-07-04T19:00:00Z
                update_time: 2023-07-04T19:00:00Z
              schema:
                $ref: '#/components/schemas/Queue'
          description: Created
          headers:
            Location:
              example: /organizations/acme-corp/projects/anvil-drop-simulator/queues/queue-1
              explode: false
              schema:
                type: string
              style: simple
          links:
            get_queue_by_name:
              operationId: get_queue
              parameters:
                queue_name: $response.body#/name
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Create Queue
      tags:
      - queues
    summary: Queues
  /organizations/{organization_name}/projects/{project_name}/queues/{queue_name}:
    delete:
      description: Deletes an existing queue in the given project.
      operationId: delete_queue
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The queue name.
        example: fifo-queue
        explode: false
        in: path
        name: queue_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Delete Queue
      tags:
      - queues
    description: Operations for a queue
    get:
      description: Gets an existing queue in the given project.
      operationId: get_queue
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The queue name.
        example: fifo-queue
        explode: false
        in: path
        name: queue_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                name: fifo-queue
                display_name: FIFO Queue
                description: This queue is used to distribute jobs to workers running
                  on SaladCloud with a FIFO workflow.
                container_groups: []
                create_time: 2023-07-04T19:00:00Z
                update_time: 2023-07-04T19:00:00Z
              schema:
                $ref: '#/components/schemas/Queue'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Get Queue
      tags:
      - queues
    patch:
      description: Updates an existing queue in the given project.
      operationId: update_queue
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The queue name.
        example: fifo-queue
        explode: false
        in: path
        name: queue_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateQueue'
      responses:
        "200":
          content:
            application/json:
              example:
                id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                name: fifo-queue
                display_name: FIFO Queue
                description: This queue is used to distribute jobs to workers running
                  on SaladCloud with a FIFO workflow.
                container_groups: []
                create_time: 2023-07-04T19:00:00Z
                update_time: 2023-07-04T19:00:00Z
              schema:
                $ref: '#/components/schemas/Queue'
          description: OK
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Update Queue
      tags:
      - queues
    summary: Queue
  /organizations/{organization_name}/projects/{project_name}/queues/{queue_name}/jobs:
    description: Operations for jobs in a queue
    get:
      description: Gets the list of jobs in a queue
      operationId: list_queue_jobs
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The queue name.
        example: fifo-queue
        explode: false
        in: path
        name: queue_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The number of items per page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 1
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    items:
                    - id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                      input: {}
                      metadata: {}
                      webhook: https://webhooks.example.com:8080
                      status: pending
                      events:
                      - action: created
                        time: 2020-07-04T19:00:00Z
                      output: {}
                      create_time: 2020-07-04T19:00:00Z
                      update_time: 2020-07-04T19:00:00Z
                    - id: b697f678-b987-4992-bbbf-d6dda171b34a
                      input: {}
                      metadata: {}
                      webhook: https://webhooks.example.com:8080
                      status: pending
                      events:
                      - action: created
                        time: 2020-07-04T19:00:00Z
                      output: {}
                      create_time: 2020-07-04T19:00:00Z
                      update_time: 2020-07-04T19:00:00Z
              schema:
                $ref: '#/components/schemas/QueueJobList'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: List Jobs
      tags:
      - queues
    post:
      description: Creates a new job
      operationId: create_queue_job
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The queue name.
        example: fifo-queue
        explode: false
        in: path
        name: queue_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateQueueJob'
      responses:
        "201":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                    input: {}
                    metadata: {}
                    webhook: https://webhooks.example.com:8080
                    status: pending
                    events:
                    - action: created
                      time: 2020-07-04T19:00:00Z
                    output: {}
                    create_time: 2020-07-04T19:00:00Z
                    update_time: 2020-07-04T19:00:00Z
              schema:
                $ref: '#/components/schemas/QueueJob'
          description: Created
          headers:
            Location:
              explode: false
              schema:
                example: /organizations/acme-corp/projects/anvil-drop-simulator/queues/queue-1/jobs/job-1
                type: string
              style: simple
          links:
            get_queue_job_by_name:
              operationId: get_queue_job
              parameters:
                queue_job_id: $response.body#/id
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Create Job
      tags:
      - queues
    summary: Jobs in a Queue
  /organizations/{organization_name}/projects/{project_name}/queues/{queue_name}/jobs/{queue_job_id}:
    delete:
      description: Cancels a job in a queue
      operationId: delete_queue_job
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The queue name.
        example: fifo-queue
        explode: false
        in: path
        name: queue_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The job identifier. This is automatically generated and assigned
          when the job is created.
        example: 7dcd6922-50e9-4d56-89b5-91cde26f0211
        explode: false
        in: path
        name: queue_job_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Delete Job
      tags:
      - queues
    description: Operations for jobs in a queue
    get:
      description: Gets a job in a queue
      operationId: get_queue_job
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: Your project name. This represents a collection of related SaladCloud
          resources. The project must be created before using the API.
        example: default
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The queue name.
        example: fifo-queue
        explode: false
        in: path
        name: queue_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The job identifier. This is automatically generated and assigned
          when the job is created.
        example: 7dcd6922-50e9-4d56-89b5-91cde26f0211
        explode: false
        in: path
        name: queue_job_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                    input: {}
                    metadata: {}
                    webhook: https://webhooks.example.com:8080
                    status: pending
                    events:
                    - action: created
                      time: 2020-07-04T19:00:00Z
                    output: {}
                    create_time: 2020-07-04T19:00:00Z
                    update_time: 2020-07-04T19:00:00Z
              schema:
                $ref: '#/components/schemas/QueueJob'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Get Job
      tags:
      - queues
    summary: Jobs in a Queue
  /organizations/{organization_name}/quotas:
    description: Operations for quotas
    get:
      description: Gets the organization quotas
      operationId: get_quotas
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    container_groups_quotas:
                      max_created_container_groups: 10
                      container_instance_quota: 10
                    create_time: 2020-07-04T19:00:00Z
                    update_time: 2020-07-04T19:00:00Z
              schema:
                $ref: '#/components/schemas/Quotas'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Get Quotas
      tags:
      - quotas
    summary: Quotas
  /organizations/{organization_name}/inference-endpoints:
    description: Operations for inference endpoints
    get:
      description: Gets the list of inference endpoints
      operationId: list_inference_endpoints
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          format: int32
          maximum: 2147483647
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The number of items per page
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          format: int32
          maximum: 100
          minimum: 1
          nullable: true
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    items:
                    - id: 3cc0c401-4159-4760-a1e1-b2dec9c2440e
                      name: avatar-generator
                      display_name: Avatar Generator
                      description: Generates the best avatars of cartoon characters
                      endpoint_url: https://api.salad.io/organizations/acme-corp/inference-endpoints/avatar-generator
                      readme: test-readme
                      price_description: 0.05 credits per inference
                      icon_image: https://api.salad.io/organizations/acme-corp/inference-endpoints/avatar-generator/icon
                    - id: 3cc0c401-4159-4760-a1e1-b2dec9c22893
                      name: audio-to-waveform
                      display_name: Audio to Waveform
                      description: Does something technical with audio
                      endpoint_url: https://api.salad.io/organizations/acme-corp/inference-endpoints/audio-to-waveform
                      readme: test-readme
                      price_description: 0.10 credits per inference
                      icon_image: https://api.salad.io/organizations/acme-corp/inference-endpoints/audio-to-waveform/icon
              schema:
                $ref: '#/components/schemas/InferenceEndpointsList'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: List Inference Endpoints
      tags:
      - inference_endpoints
    summary: Inference Endpoints
  /organizations/{organization_name}/inference-endpoints/{inference_endpoint_name}:
    description: Operations for an inference endpoint
    get:
      description: Gets an inference endpoint
      operationId: get_inference_endpoint
      parameters:
      - description: "Your organization name. This identifies the billing context\
          \ for the API operation and represents a security boundary for SaladCloud\
          \ resources. The organization must be created before using the API, and\
          \ you must be a member of the organization."
        example: acme-corp
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique inference endpoint name
        explode: false
        in: path
        name: inference_endpoint_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    id: 3cc0c401-4159-4760-a1e1-b2dec9c2440e
                    name: avatar-generator
                    display_name: Avatar Generator
                    description: Generates the best avatars of cartoon characters
                    endpoint_url: https://api.salad.io/organizations/acme-corp/inference-endpoints/avatar-generator
                    readme: test-readme
                    price_description: 0.05 credits per inference
                    icon_image: https://api.salad.io/organizations/acme-corp/inference-endpoints/avatar-generator/icon
              schema:
                $ref: '#/components/schemas/InferenceEndpoint'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
[...]
