openapi: 3.0.3
info:
  contact:
    email: support@salad.com
    name: Salad Support
    url: https://support.salad.com
  description: The SaladCloud Public API.
  termsOfService: https://salad.com/terms
  title: SaladCloud Public API
  version: 1.0.0-alpha.56
servers:
- url: https://api.salad.com/api/public
security:
- ApiKeyAuth: []
tags:
- description: Container Groups
  name: container_groups
- description: Auxiliary organization data and info
  name: organization_data
- description: quotas
  name: quotas
paths:
  /organizations/{organization_name}/projects/{project_name}/containers:
    description: Operations for container groups
    get:
      description: Gets the list of container groups
      operationId: list_container_groups
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    items:
                    - id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                      name: sim1
                      display_name: Simulation 1
                      container:
                        image: acme-corp/anvil-drop-simulator:v65535
                        resources:
                          cpu: 1
                          memory: 2048
                        command: []
                      restart_policy: always
                      replicas: 1
                      current_state:
                        status: stopped
                        start_time: 2020-07-04T19:00:00Z
                        finish_time: 2020-07-04T19:00:00Z
                        instance_status_counts:
                          allocating_count: 1
                          creating_count: 1
                          running_count: 1
                      create_time: 2020-07-04T19:00:00Z
                      update_time: 2020-07-04T19:00:00Z
                    - id: b697f678-b987-4992-bbbf-d6dda171b34a
                      name: sim2
                      display_name: Simulation 2
                      container:
                        image: acme-corp/anvil-drop-simulator:v65536
                        resources:
                          cpu: 1
                          memory: 2048
                        command: []
                      restart_policy: always
                      replicas: 1
                      current_state:
                        status: stopped
                        start_time: 2020-07-04T19:00:00Z
                        finish_time: 2020-07-04T19:00:00Z
                        instance_status_counts:
                          allocating_count: 1
                          creating_count: 1
                          running_count: 1
                      create_time: 2020-07-04T19:00:00Z
                      update_time: 2020-07-04T19:00:00Z
              schema:
                $ref: '#/components/schemas/ContainerGroupList'
          description: OK
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: List Container Groups
      tags:
      - container_groups
    post:
      description: Creates a new container group
      operationId: create_container_group
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateContainerGroup'
      responses:
        "201":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                    name: sim1
                    display_name: Simulation 1
                    container:
                      image: acme-corp/anvil-drop-simulator:v65535
                      resources:
                        cpu: 1
                        memory: 2048
                      command: []
                    restart_policy: always
                    replicas: 1
                    current_state:
                      status: stopped
                      start_time: 2020-07-04T19:00:00Z
                      finish_time: 2020-07-04T19:00:00Z
                      instance_status_counts:
                        allocating_count: 1
                        creating_count: 1
                        running_count: 1
                    create_time: 2020-07-04T19:00:00Z
                    update_time: 2020-07-04T19:00:00Z
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: Created
          headers:
            Location:
              explode: false
              schema:
                example: /organizations/acme-corp/projects/anvil-drop-simulator/containers/sim1
                type: string
              style: simple
          links:
            get_container_group_by_name:
              operationId: get_container_group
              parameters:
                container_group_name: $response.body#/name
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Create a Container Group
      tags:
      - container_groups
    summary: Container Groups
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}:
    delete:
      description: Deletes a container group
      operationId: delete_container_group
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Delete a Container Group
      tags:
      - container_groups
    description: Operations for a container group
    get:
      description: Gets a container group
      operationId: get_container_group
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                    name: sim1
                    display_name: Simulation 1
                    container:
                      image: acme-corp/anvil-drop-simulator:v65535
                      resources:
                        cpu: 1
                        memory: 2048
                      command: []
                    restart_policy: always
                    replicas: 1
                    current_state:
                      status: stopped
                      start_time: 2020-07-04T19:00:00Z
                      finish_time: 2020-07-04T19:00:00Z
                      instance_status_counts:
                        allocating_count: 1
                        creating_count: 1
                        running_count: 1
                    create_time: 2020-07-04T19:00:00Z
                    update_time: 2020-07-04T19:00:00Z
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Get a Container Group
      tags:
      - container_groups
    patch:
      description: Updates a container group
      operationId: update_container_group
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateContainerGroup'
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                    name: sim1
                    display_name: Simulation 1
                    container:
                      image: acme-corp/anvil-drop-simulator:v65535
                      resources:
                        cpu: 1
                        memory: 2048
                      command: []
                    restart_policy: always
                    replicas: 1
                    current_state:
                      status: stopped
                      start_time: 2020-07-04T19:00:00Z
                      finish_time: 2020-07-04T19:00:00Z
                      instance_status_counts:
                        allocating_count: 1
                        creating_count: 1
                        running_count: 1
                    create_time: 2020-07-04T19:00:00Z
                    update_time: 2020-07-04T19:00:00Z
              schema:
                $ref: '#/components/schemas/ContainerGroup'
          description: OK
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Update a Container Group
      tags:
      - container_groups
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/start:
    description: Operations for a container group
    post:
      description: Starts a container group
      operationId: start_container_group
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Start a Container Group
      tags:
      - container_groups
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/restart:
    description: Operations for a container group
    post:
      description: Restarts a container group
      operationId: restart_container_group
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Restart a Container Group
      tags:
      - container_groups
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/stop:
    description: Operations for a container group
    post:
      description: Stops a container group
      operationId: stop_container_group
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Stop a Container Group
      tags:
      - container_groups
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances:
    description: Operations for a container group
    get:
      description: Retrieves a list of container group instances
      operationId: list_container_group_instances
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                instances:
                - machine_id: 5ebfa363-6e0b-4db1-b9be-70ed4995d0b1
                  state: running
                  update_time: 2023-05-04T05:41:05Z
                - machine_id: a6c2e6d5-6c5a-4b3b-a4d4-4b13c2b634ad
                  state: creating
                  update_time: 2023-05-04T05:38:12Z
              schema:
                $ref: '#/components/schemas/ContainerGroupInstances'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: List Container Group Instances
      tags:
      - container_groups
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances/{machine_id}/reallocate:
    description: Operations for a container group
    post:
      description: Remove a node from a workload and reallocate the workload to a
        different node
      operationId: container_group_instance_reallocate
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique machine identifier
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Reallocate container group instance to another node
      tags:
      - container_groups
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances/{machine_id}/recreate:
    description: Operations for a container group
    post:
      description: "Stops a container, destroys it, creates a new one without requiring\
        \ the image to be downloaded again on a different node"
      operationId: container_group_instance_recreate
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique machine identifier
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Recreate container on a node
      tags:
      - container_groups
    summary: Container Group
  /organizations/{organization_name}/projects/{project_name}/containers/{container_group_name}/instances/{machine_id}/restart:
    description: Operations for a container group
    post:
      description: Restarts a workload on a node without reallocating it
      operationId: container_group_instance_restart
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique container group name
        explode: false
        in: path
        name: container_group_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique machine identifier
        explode: false
        in: path
        name: machine_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Restart container on a node
      tags:
      - container_groups
    summary: Container Group
  /organizations/{organization_name}/quotas:
    description: Operations for quotas
    get:
      description: Gets the organization quotas
      operationId: get_quotas
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    container_group_quotas:
                      max_created_container_groups: 10
                      container_instance_quota: 10
                    create_time: 2020-07-04T19:00:00Z
                    recipes_quotas:
                      max_created_recipe_deployments: 10
                      recipe_instance_quota: 10
                    update_time: 2020-07-04T19:00:00Z
              schema:
                $ref: '#/components/schemas/Quotas'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Get Quotas
      tags:
      - quotas
    summary: Quotas
  /organizations/{organization_name}/projects/{project_name}/recipe-deployments:
    description: Operations for recipe deployments
    get:
      description: Gets the list of all recipe deployments
      operationId: list_recipe_deployments
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    items:
                    - id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                      name: sim1
                      display_name: Simulation 1
                      replicas: 1
                      current_state:
                        status: stopped
                        start_time: 2020-07-04T19:00:00Z
                        finish_time: 2020-07-04T19:00:00Z
                        instance_status_counts:
                          allocating_count: 1
                          creating_count: 1
                          running_count: 1
                      recipe:
                        id: 3cc0c401-4159-4760-a1e1-b2dec9c2440e
                        name: anvil-drop-simulator
                        display_name: null
                        readme: test-readme
                        resources:
                          cpu: 1
                          ram: 1
                          gpu_class: high
                    - id: b697f678-b987-4992-bbbf-d6dda171b34a
                      name: sim2
                      display_name: Simulation 2
                      replicas: 1
                      current_state:
                        status: stopped
                        start_time: 2020-07-04T19:00:00Z
                        finish_time: 2020-07-04T19:00:00Z
                        instance_status_counts:
                          allocating_count: 1
                          creating_count: 1
                          running_count: 1
                      recipe:
                        id: 3cc0c401-4159-4760-a1e1-b2dec9c22893
                        name: anvil-drop-simulator-2
                        readme: test-readme-2
                        resources:
                          cpu: 2
                          ram: 2
                          gpu_class: high
              schema:
                $ref: '#/components/schemas/RecipeDeploymentList'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: List Recipe Deployments
      tags:
      - recipe_deployments
    post:
      description: Creates a new Recipe Deployment
      operationId: create_recipe_deployment
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateRecipeDeployment'
      responses:
        "201":
          content:
            application/json:
              example:
                jsonExample:
                  value:
                    id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                    name: sim1
                    display_name: Simulation 1
                    replicas: 1
                    current_state:
                      status: stopped
                      start_time: 2020-07-04T19:00:00Z
                      finish_time: 2020-07-04T19:00:00Z
                      instance_status_counts:
                        allocating_count: 1
                        creating_count: 1
                        running_count: 1
                    recipe:
                      id: 3cc0c401-4159-4760-a1e1-b2dec9c2440e
                      name: anvil-drop-simulator
                      display_name: null
                      readme: test-readme
                      resources:
                        cpu: 1
                        ram: 1
                        gpu_class: high
              schema:
                $ref: '#/components/schemas/RecipeDeployment'
          description: Created
          headers:
            Location:
              explode: false
              schema:
                example: /organizations/acme-corp/projects/anvil-drop-simulator/recipe-deployments/salad-recipe
                type: string
              style: simple
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Create a Recipe Deployment
      tags:
      - recipe_deployments
    summary: Recipe Deployments
  /organizations/{organization_name}/projects/{project_name}/recipe-deployments/{recipe_deployment_name}:
    delete:
      description: Deletes a Recipe Deployment
      operationId: delete_recipe_deployment
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique recipe deployment name
        explode: false
        in: path
        name: recipe_deployment_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,62}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Delete a Recipe Deployment
      tags:
      - recipe_deployments
    description: Operations for a recipe
    get:
      description: Gets a Recipe Deployment by its unique name
      operationId: get_recipe_deployment
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique recipe deployment name
        explode: false
        in: path
        name: recipe_deployment_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,62}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                    name: sim1
                    display_name: Simulation 1
                    replicas: 1
                    current_state:
                      status: stopped
                      start_time: 2020-07-04T19:00:00Z
                      finish_time: 2020-07-04T19:00:00Z
                      instance_status_counts:
                        allocating_count: 1
                        creating_count: 1
                        running_count: 1
                    recipe:
                      id: 3cc0c401-4159-4760-a1e1-b2dec9c2440e
                      name: anvil-drop-simulator
                      display_name: null
                      readme: test-readme
                      resources:
                        cpu: 1
                        ram: 1
                        gpu_class: high
              schema:
                $ref: '#/components/schemas/RecipeDeployment'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Get a Recipe Deployment
      tags:
      - recipe_deployments
    patch:
      description: Updates a Recipe Deployment
      operationId: update_recipe_deployment
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique recipe deployment name
        explode: false
        in: path
        name: recipe_deployment_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,62}[a-z0-9]$"
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateRecipeDeployment'
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                    name: sim1
                    display_name: Simulation 1
                    replicas: 1
                    current_state:
                      status: stopped
                      start_time: 2020-07-04T19:00:00Z
                      finish_time: 2020-07-04T19:00:00Z
                      instance_status_counts:
                        allocating_count: 1
                        creating_count: 1
                        running_count: 1
                    recipe:
                      id: 3cc0c401-4159-4760-a1e1-b2dec9c2440e
                      name: anvil-drop-simulator
                      display_name: null
                      readme: test-readme
                      resources:
                        cpu: 1
                        ram: 1
                        gpu_class: high
              schema:
                $ref: '#/components/schemas/RecipeDeployment'
          description: OK
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Update a Recipe Deployment
      tags:
      - recipe_deployments
    summary: Recipe Deployment
  /organizations/{organization_name}/projects/{project_name}/recipe-deployments/{recipe_deployment_name}/start:
    description: Operations for a recipe
    post:
      description: Starts a Deployed Recipe
      operationId: start_deployed_recipe
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique recipe deployment name
        explode: false
        in: path
        name: recipe_deployment_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,62}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Start a Deployed Recipe
      tags:
      - recipe_deployments
    summary: Recipe Deployment
  /organizations/{organization_name}/projects/{project_name}/recipe-deployments/{recipe_deployment_name}/restart:
    description: Operations for a recipe
    post:
      description: Restarts a Deployed Recipe
      operationId: restart_deployed_recipe
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique recipe deployment name
        explode: false
        in: path
        name: recipe_deployment_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,62}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Restart a Deployed Recipe
      tags:
      - recipe_deployments
    summary: Recipe Deployment
  /organizations/{organization_name}/projects/{project_name}/recipe-deployments/{recipe_deployment_name}/stop:
    description: Operations for a recipe
    post:
      description: Stops a Deployed Recipe
      operationId: stop_deployed_recipe
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique recipe deployment name
        explode: false
        in: path
        name: recipe_deployment_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,62}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Bad Request
                    status: 400
                    detail: Bad Request
                    instance: 60907fdc
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
        "403":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Forbidden
                    status: 403
                    detail: Forbidden
                    instance: 962fc00e
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Forbidden
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Stop a Deployed Recipe
      tags:
      - recipe_deployments
    summary: Recipe Deployment
  /organizations/{organization_name}/projects/{project_name}/recipe-deployments/{recipe_deployment_name}/instances:
    description: Operations for a recipe
    get:
      description: Retrieves a list of recipe deployment instances
      operationId: list_recipe_deployment_instances
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique project name
        explode: false
        in: path
        name: project_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique recipe deployment name
        explode: false
        in: path
        name: recipe_deployment_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,62}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                instances:
                - machine_id: 5ebfa363-6e0b-4db1-b9be-70ed4995d0b1
                  state: running
                  update_time: 2023-05-04T05:41:05Z
                - machine_id: a6c2e6d5-6c5a-4b3b-a4d4-4b13c2b634ad
                  state: creating
                  update_time: 2023-05-04T05:38:12Z
              schema:
                $ref: '#/components/schemas/RecipeDeploymentInstances'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: List Recipe Deployment Instances
      tags:
      - recipe_deployments
    summary: Recipe Deployment
  /organizations/{organization_name}/gpu-classes:
    description: Allows reading the GPU Classes collection available for the organization
    get:
      description: List the GPU Classes
      operationId: list_gpu_classes
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    items:
                    - id: f9c04b6c-6860-48ab-929e-aa992eb33c46
                      name: g4dn.xlarge
                      is_high_demand: false
                    - id: b5b574c3-66b9-47c5-b383-16d209fef3ef
                      name: g4dn.metal
                      is_high_demand: true
              schema:
                $ref: '#/components/schemas/GpuClassesList'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: List the GPU Classes
      tags:
      - organization_data
    summary: GPU Classes
  /organizations/{organization_name}/recipes:
    description: Operations for recipes
    get:
      description: Gets the list of recipes
      operationId: list_recipes
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    items:
                    - id: 3cc0c401-4159-4760-a1e1-b2dec9c2440e
                      name: anvil-drop-simulator
                      readme: test-readme
                    - id: 3cc0c401-4159-4760-a1e1-b2dec9c22893
                      name: anvil-drop-simulator-2
                      readme: test-readme-2
              schema:
                $ref: '#/components/schemas/RecipeList'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: List Recipes
      tags:
      - recipes
    summary: Recipes
  /organizations/{organization_name}/recipes/{recipe_name}:
    description: Operations for recipes
    get:
      description: Gets a recipe
      operationId: get_recipe
      parameters:
      - description: The unique organization name
        explode: false
        in: path
        name: organization_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
          type: string
        style: simple
      - description: The unique recipe name
        explode: false
        in: path
        name: recipe_name
        required: true
        schema:
          maxLength: 63
          minLength: 2
          pattern: "^[a-z][a-z0-9-]{0,62}[a-z0-9]$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    id: 3cc0c401-4159-4760-a1e1-b2dec9c2440e
                    name: anvil-drop-simulator
                    readme: test-readme
              schema:
                $ref: '#/components/schemas/Recipe'
          description: OK
        "404":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Not Found
                    status: 404
                    detail: Not Found
                    instance: 72ea5f29
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
        "429":
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Too Many Requests
                    status: 409
                    detail: Too Many Requests
                    instance: cd6306ee
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Too Many Requests
        default:
          content:
            application/json:
              examples:
                jsonExample:
                  value:
                    type: about:blank
                    title: Unknown Error
                    status: 500
                    detail: Unknown Error
                    instance: 188f9bbb
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Unknown Error
      summary: Get a Recipe
      tags:
      - recipes
    summary: Recipes
components:
  parameters:
    container_group_name:
      description: The unique container group name
      explode: false
      in: path
      name: container_group_name
      required: true
      schema:
        maxLength: 63
        minLength: 2
        pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
        type: string
      style: simple
    organization_name:
      description: The unique organization name
      explode: false
      in: path
      name: organization_name
      required: true
      schema:
        maxLength: 63
        minLength: 2
        pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
        type: string
      style: simple
    project_name:
      description: The unique project name
      explode: false
      in: path
      name: project_name
      required: true
      schema:
        maxLength: 63
        minLength: 2
        pattern: "^[a-z][a-z0-9-]{0,61}[a-z0-9]$"
        type: string
      style: simple
    recipe_deployment_name:
      description: The unique recipe deployment name
      explode: false
      in: path
      name: recipe_deployment_name
      required: true
      schema:
        maxLength: 63
        minLength: 2
        pattern: "^[a-z][a-z0-9-]{0,62}[a-z0-9]$"
        type: string
      style: simple
    recipe_name:
      description: The unique recipe name
      explode: false
      in: path
      name: recipe_name
      required: true
      schema:
        maxLength: 63
        minLength: 2
        pattern: "^[a-z][a-z0-9-]{0,62}[a-z0-9]$"
        type: string
      style: simple
    machine_id:
      description: The unique machine identifier
      explode: false
      in: path
      name: machine_id
      required: true
      schema:
        format: uuid
        type: string
      style: simple
  requestBodies:
    CreateContainerGroup:
      content:
        application/json:
          examples:
            jsonExample:
              value:
                name: sim1
                container:
                  image: acme-corp/anvil-drop-simulator:v65535
                  resources:
                    cpu: 1
                    memory: 2048
                  command: []
                restart_policy: always
                replicas: 1
          schema:
            $ref: '#/components/schemas/CreateContainerGroup'
      required: true
    UpdateContainerGroup:
      content:
        application/json:
          examples:
            jsonExample:
              value:
                display_name: Simulation 1
          schema:
            $ref: '#/components/schemas/UpdateContainerGroup'
      required: true
    CreateRecipeDeployment:
      content:
        application/json:
          examples:
            jsonExample:
              value:
                name: sim1
                display_name: Sim 1
                replicas: 1
                recipe_name: salad_recipe
          schema:
            $ref: '#/components/schemas/CreateRecipeDeployment'
      required: true
    UpdateRecipeDeployment:
      content:
        application/json:
          examples:
            jsonExample:
              value:
                display_name: Salad Deployed Recipe
                replicas: 1
          schema:
            $ref: '#/components/schemas/UpdateRecipeDeployment'
      required: true
  responses:
    "400":
      content:
        application/json:
          examples:
            jsonExample:
              value:
                type: about:blank
                title: Bad Request
                status: 400
                detail: Bad Request
                instance: 60907fdc
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Bad Request
    "401":
      content:
        application/json:
          examples:
            jsonExample:
              value:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: Unauthorized
                instance: dc907f60
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Unauthorized
    "403":
      content:
        application/json:
          examples:
            jsonExample:
              value:
                type: about:blank
                title: Forbidden
                status: 403
                detail: Forbidden
                instance: 962fc00e
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Forbidden
    "404":
      content:
        application/json:
          examples:
            jsonExample:
              value:
                type: about:blank
                title: Not Found
                status: 404
                detail: Not Found
                instance: 72ea5f29
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Not Found
    "429":
      content:
        application/json:
          examples:
            jsonExample:
              value:
                type: about:blank
                title: Too Many Requests
                status: 409
                detail: Too Many Requests
                instance: cd6306ee
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Too Many Requests
    UnknownError:
      content:
        application/json:
          examples:
            jsonExample:
              value:
                type: about:blank
                title: Unknown Error
                status: 500
                detail: Unknown Error
                instance: 188f9bbb
          schema:
            $ref: '#/components/schemas/ProblemDetails'
      description: Unknown Error
    GetContainerGroup:
      content:
        application/json:
          examples:
            jsonExample:
              value:
                id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                name: sim1
                display_name: Simulation 1
                container:
                  image: acme-corp/anvil-drop-simulator:v65535
                  resources:
                    cpu: 1
                    memory: 2048
                  command: []
                restart_policy: always
                replicas: 1
                current_state:
                  status: stopped
                  start_time: 2020-07-04T19:00:00Z
                  finish_time: 2020-07-04T19:00:00Z
                  instance_status_counts:
                    allocating_count: 1
                    creating_count: 1
                    running_count: 1
                create_time: 2020-07-04T19:00:00Z
                update_time: 2020-07-04T19:00:00Z
          schema:
            $ref: '#/components/schemas/ContainerGroup'
      description: OK
    ListContainerGroups:
      content:
        application/json:
          examples:
            jsonExample:
              value:
                items:
                - id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                  name: sim1
                  display_name: Simulation 1
                  container:
                    image: acme-corp/anvil-drop-simulator:v65535
                    resources:
                      cpu: 1
                      memory: 2048
                    command: []
                  restart_policy: always
                  replicas: 1
                  current_state:
                    status: stopped
                    start_time: 2020-07-04T19:00:00Z
                    finish_time: 2020-07-04T19:00:00Z
                    instance_status_counts:
                      allocating_count: 1
                      creating_count: 1
                      running_count: 1
                  create_time: 2020-07-04T19:00:00Z
                  update_time: 2020-07-04T19:00:00Z
                - id: b697f678-b987-4992-bbbf-d6dda171b34a
                  name: sim2
                  display_name: Simulation 2
                  container:
                    image: acme-corp/anvil-drop-simulator:v65536
                    resources:
                      cpu: 1
                      memory: 2048
                    command: []
                  restart_policy: always
                  replicas: 1
                  current_state:
                    status: stopped
                    start_time: 2020-07-04T19:00:00Z
                    finish_time: 2020-07-04T19:00:00Z
                    instance_status_counts:
                      allocating_count: 1
                      creating_count: 1
                      running_count: 1
                  create_time: 2020-07-04T19:00:00Z
                  update_time: 2020-07-04T19:00:00Z
          schema:
            $ref: '#/components/schemas/ContainerGroupList'
      description: OK
    CreateContainerGroup:
      content:
        application/json:
          examples:
            jsonExample:
              value:
                id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                name: sim1
                display_name: Simulation 1
                container:
                  image: acme-corp/anvil-drop-simulator:v65535
                  resources:
                    cpu: 1
                    memory: 2048
                  command: []
                restart_policy: always
                replicas: 1
                current_state:
                  status: stopped
                  start_time: 2020-07-04T19:00:00Z
                  finish_time: 2020-07-04T19:00:00Z
                  instance_status_counts:
                    allocating_count: 1
                    creating_count: 1
                    running_count: 1
                create_time: 2020-07-04T19:00:00Z
                update_time: 2020-07-04T19:00:00Z
          schema:
            $ref: '#/components/schemas/ContainerGroup'
      description: Created
      headers:
        Location:
          explode: false
          schema:
            example: /organizations/acme-corp/projects/anvil-drop-simulator/containers/sim1
            type: string
          style: simple
      links:
        get_container_group_by_name:
          operationId: get_container_group
          parameters:
            container_group_name: $response.body#/name
    UpdateContainerGroup:
      content:
        application/json:
          examples:
            jsonExample:
              value:
                id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                name: sim1
                display_name: Simulation 1
                container:
                  image: acme-corp/anvil-drop-simulator:v65535
                  resources:
                    cpu: 1
                    memory: 2048
                  command: []
                restart_policy: always
                replicas: 1
                current_state:
                  status: stopped
                  start_time: 2020-07-04T19:00:00Z
                  finish_time: 2020-07-04T19:00:00Z
                  instance_status_counts:
                    allocating_count: 1
                    creating_count: 1
                    running_count: 1
                create_time: 2020-07-04T19:00:00Z
                update_time: 2020-07-04T19:00:00Z
          schema:
            $ref: '#/components/schemas/ContainerGroup'
      description: OK
    DeleteContainerGroup:
      description: Accepted
    StartContainerGroup:
      description: Accepted
    RestartContainerGroup:
      description: Accepted
    StopContainerGroup:
      description: Accepted
    ListContainerGroupInstances:
      content:
        application/json:
          example:
            instances:
            - machine_id: 5ebfa363-6e0b-4db1-b9be-70ed4995d0b1
              state: running
              update_time: 2023-05-04T05:41:05Z
            - machine_id: a6c2e6d5-6c5a-4b3b-a4d4-4b13c2b634ad
              state: creating
              update_time: 2023-05-04T05:38:12Z
          schema:
            $ref: '#/components/schemas/ContainerGroupInstances'
      description: OK
    ReallocateContainerGroupInstance:
      description: Accepted
    RecreateContainerGroupInstance:
      description: Accepted
    RestartContainerGroupInstance:
      description: Accepted
    ListGpuClasses:
      content:
        application/json:
          examples:
            jsonExample:
              value:
                items:
                - id: f9c04b6c-6860-48ab-929e-aa992eb33c46
                  name: g4dn.xlarge
                  is_high_demand: false
                - id: b5b574c3-66b9-47c5-b383-16d209fef3ef
                  name: g4dn.metal
                  is_high_demand: true
          schema:
            $ref: '#/components/schemas/GpuClassesList'
      description: OK
    GetQuotas:
      content:
        application/json:
          examples:
            jsonExample:
              value:
                container_group_quotas:
                  max_created_container_groups: 10
                  container_instance_quota: 10
                create_time: 2020-07-04T19:00:00Z
                recipes_quotas:
                  max_created_recipe_deployments: 10
                  recipe_instance_quota: 10
                update_time: 2020-07-04T19:00:00Z
          schema:
            $ref: '#/components/schemas/Quotas'
      description: OK
    GetRecipe:
      content:
        application/json:
          examples:
            jsonExample:
              value:
                id: 3cc0c401-4159-4760-a1e1-b2dec9c2440e
                name: anvil-drop-simulator
                readme: test-readme
          schema:
            $ref: '#/components/schemas/Recipe'
      description: OK
    ListRecipes:
      content:
        application/json:
          examples:
            jsonExample:
              value:
                items:
                - id: 3cc0c401-4159-4760-a1e1-b2dec9c2440e
                  name: anvil-drop-simulator
                  readme: test-readme
                - id: 3cc0c401-4159-4760-a1e1-b2dec9c22893
                  name: anvil-drop-simulator-2
                  readme: test-readme-2
          schema:
            $ref: '#/components/schemas/RecipeList'
      description: OK
    GetRecipeDeployment:
      content:
        application/json:
          examples:
            jsonExample:
              value:
                id: 500dec9c-aaf3-4a0b-aa7f-de6483d0b9b1
                name: sim1
                display_name: Simulation 1
                replicas: 1
                current_state:
                  status: stopped
                  start_time: 2020-07-04T19:00:00Z
                  finish_time: 2020-07-04T19:00:00Z
                  instance_status_counts:
                    allocating_count: 1
                    creating_count: 1
                    running_count: 1
                recipe:
                  id: 3cc0c401-4159-4760-a1e1-b2dec9c2440e
[...]
